/*Services Section Background*/

#services {
	background-color: #4bcaff;
    padding: 77px 0;
}




#services div.container {
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}



#services  h2 {
  font-family: 'Segoe UI Light';
  color: #fff;
  font-size: 30px;
  font-weight: 300;
	text-transform: uppercase;
	display: inline-block;
}



/*White Line below Services Heading*/

#services h2:after, #portfolio h2:after, #default-section h2:after, #twitter h2:after, #john-doe h2:after, #testimonials h2:after, #contact h2:after{
	content: '';
	height: 2px;
  width: 35%;
  display: block;
  background: #fff;
  position: relative;
  top:10px;
}





/*Services Content*/

#services img {
  display: block;
  margin: 30px 0 20px;
}


#services h3 {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 24px;
  font-weight: 600;
}

#services p {
  color: #fff;
  font-size: 12px;
  padding-top: 20px;
  line-height: 18px;
  font-weight: 600;
}



